{{>layout/header}}
<body>
	<form name="myform" id="myform">
{{>layout/nav}}
<div class="container mt-3">
	<h1>로그온</h1>

	<div class="input-group mb-3">
		<input type="text" class="form-control" id="user_id" name="user_id" placeholder="아이디">
	</div>

	<div class="input-group mb-3">
		<input type="password" class="form-control" id="password" name="password" placeholder="페스워드">
	</div>



	<div class="container" style="text-align:right">
		<div class="btn-group">
			<button type="button" class="btn btn-primary" id="btnLogon">로그온</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" >취소</button>&nbsp;&nbsp;
		</div>
	</div>
</form>	
</div>

</body>
</html>

<script>
$(() => {
	$("#btnLogon").click(() => {
		$.ajax({
			url : "/member/logonproc",
			data : {
				"user_id" : $("#user_id").val(),
				"password" : $("#password").val(),
			},
			dataType : "json",
			method : "POST"
		})
		.done((res) => {
			alert(res.msg);
			if (res.result == "1") { // 로그인 성공
				location.href = "/";
				
			} else if (res.result == 2) {
				
			} else if (res.result == 3) {
				
			}
			
		})
		.fail((res, error, status) => {
			console.log(error);
		})
	});
});
</script>