<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="javascript:void(0)">Logo</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mynavbar">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="javascript:void(0)">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="javascript:void(0)">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="javascript:void(0)">Link</a>
				</li>
			</ul>
			<div class="d-flex">
				{{#user_id}}	<!-- 세션이 존재할 때 -->
					<strong>{{user_name}}<a href="/member/logout">로그아웃</a></strong>
				{{/user_id}}
				
				{{^user_id}}	<!-- 세션이 존재 안할 때 -->
					<strong><a href="/member/write">회원가입</a><a href="/member/logon">로그인</a></strong>
				{{/user_id}}
			</div>
		</div>
	</div>
</nav>