<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="BoardDto" type="com.woori.myapp.entity.BoardDto" />
		<typeAlias alias="MemberDto" type="com.woori.myapp.entity.MemberDto" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/Board.xml"></mapper>
		<mapper resource="mapper/Member.xml"></mapper>
	</mappers>
</configuration>

